@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  background-image: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.suggestion:hover {
  transform: scale(1.15) translateZ(0);
}

.suggestions:hover>.suggestion:not(:hover) {
  transform: scale(0.9);
}

.suggestions:hover>.suggestion:not(:hover) {
  filter: brightness(0.5) blur(5px);
}

.minimap.slider-mouseover {
  display: none;
}

.DraftEditor-editorContainer .public-DraftEditor-content h1 {
  font-size: 2em !important;
  font-weight: bolder !important;
}

.DraftEditor-editorContainer .public-DraftEditor-content h2 {
  font-weight: bolder !important;
  font-size: 1.5em !important;
}

.DraftEditor-editorContainer .public-DraftEditor-content h3 {
  font-weight: bolder !important;
  font-size: 1.7em !important;
}

.DraftEditor-editorContainer .public-DraftEditor-content h4 {
  font-size: 1em !important;
  font-weight: bolder !important;
}

.DraftEditor-editorContainer .public-DraftEditor-content h5 {
  font-size: 0.83em !important;
  font-weight: bolder !important;
}

.DraftEditor-editorContainer .public-DraftEditor-content h6 {
  font-size: 0.67em !important;
  font-weight: bolder !important;
}

.cui-steps__vertical-step {
  width: 100% !important;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}